<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.wego.mapper.RankingMapper">

	<!-- 한우물왕 조회 범위 (start ~ end) -->
	<select id="selectOneWayFromStartToEnd"
		resultType="org.zerock.wego.domain.ranking.RankingVO">
		SELECT 
			*
		FROM
			one_way_ranking_v
			<!-- 
			
			SELECT
				RANK() OVER (ORDER BY "on_way_value" DESC, t1.user_id ),
				t1.user_id,
				t1.user_pic,
				t1.nickname,
				t2."on_way_value"
			FROM
				(
					SELECT 
						user_id,
						user_pic,
						nickname
					FROM
						user_tb
				) t1,
				(
				SELECT
					user_id,
					MAX(review_count) "on_way_value"
				FROM
					(
						SELECT 
							user_id,
							san_info_id,
							COUNT(san_review_id) review_count
						FROM 
							san_review_tb
						GROUP BY
							user_id, san_info_id
					)
				GROUP BY 
					user_id
				ORDER BY 
					"on_way_value" DESC
				) t2
			WHERE
				t1.user_id = t2.user_id
			
			 -->
		WHERE
			ranking &gt;= #{start}
			AND ranking &lt;= #{end}
	</select>
	
	<!-- 한우물왕 조회 특정 유저만 -->
	<select id="selectOneWayByUserId"
		resultType="org.zerock.wego.domain.ranking.RankingVO">
		SELECT 
			*
		FROM
			one_way_ranking_v
		WHERE
			user_id = #{userId}
	</select>
	
	<!-- 제일높왕 조회 범위 (start ~ end) -->
	<select id="selectHighestFromStartToEnd"
		resultType="org.zerock.wego.domain.ranking.RankingVO">
		SELECT 
			*
		FROM
			highest_ranking_v
			<!-- 
			
			SELECT
				RANK() OVER (ORDER BY "highest_value" DESC, t1.user_id ),
				t1.user_id,
				t1.user_pic,
				t1.nickname,
				"highest_value"
			FROM
				(
					SELECT 
						user_id,
						user_pic,
						nickname
					FROM
						user_tb
				) t1,
				(
					SELECT
						t1.user_id,
						sum(t2.height) "highest_value"
					FROM 
						SAN_REVIEW_TB t1,
						SAN_INFO_TB t2
					WHERE
						t1.san_info_id = t2.san_info_id
					GROUP BY
						t1.user_id
					ORDER BY 
						"highest_value" DESC 
				) t2
			WHERE
				t1.user_id = t2.user_id
			
			 -->
		WHERE
			ranking &gt;= #{start}
			AND ranking &lt;= #{end}
	</select>
	
	<!-- 제일높왕 조회 특정 유저만 -->
	<select id="selectHighestByUserId"
		resultType="org.zerock.wego.domain.ranking.RankingVO">
		SELECT 
			*
		FROM
			highest_ranking_v
		WHERE
			user_id = #{userId}
	</select>
	
	<!--  참대왕 조회 범위 (start ~ end) -->
	<select id="selectPartyKingFromStartToEnd"
		resultType="org.zerock.wego.domain.ranking.RankingVO">
		SELECT 
			*
		FROM
			party_king_ranking_v
			<!-- 
			
			SELECT 
				RANK() OVER (ORDER BY "party_king_value" DESC, t1.user_id ),
				t1.user_id,
				t1.user_pic,
				t1.nickname,
				"party_king_value"
			FROM
				(
					SELECT 
						user_id,
						user_pic,
						nickname
					FROM
						user_tb
				) t1,
				(
					SELECT
						USER_ID,
						COUNT(SAN_PARTY_ID) "party_king_value"
					FROM 
						SAN_PARTY_TB t1
					GROUP BY
						USER_ID 
					ORDER BY 
						"party_king_value" DESC
				) t2
			WHERE
				t1.user_id = t2.user_id
			
			 -->
		WHERE
			ranking &gt;= #{start}
			AND ranking &lt;= #{end}
	</select>
	
	<!--  참대왕 조회 특정 유저만 -->
	<select id="selectPartyKingByUserId"
		resultType="org.zerock.wego.domain.ranking.RankingVO">
		SELECT 
			*
		FROM
			party_king_ranking_v
		WHERE
			user_id = #{userId}
	</select>
	
	<!-- 후기왕 조회 범위 (start ~ end) -->
	<select id="selectReviewKingFromStartToEnd"
		resultType="org.zerock.wego.domain.ranking.RankingVO">
		SELECT 
			*
		FROM
			review_king_ranking_v
			<!-- 
			
			SELECT
				RANK() OVER (ORDER BY "review_king_value" DESC, t1.user_id ),
				t1.user_id,
				t1.user_pic,
				t1.nickname,
				"review_king_value"
			FROM
				(
					SELECT 
						user_id,
						user_pic,
						nickname
					FROM
						user_tb
				) t1,
				(
					SELECT 
						COUNT(SAN_REVIEW_ID) "review_king_value",
						USER_ID 
					FROM 
						SAN_REVIEW_TB t1
					GROUP BY
						USER_ID 
					ORDER BY 
						"review_king_value" DESC
				) t2
			WHERE
				t1.user_id = t2.user_id
			
			 -->
		WHERE
			ranking &gt;= #{start}
			AND ranking &lt;= #{end}
	</select>
	
	<!-- 후기왕 조회 특정 유저만 -->
	<select id="selectReviewKingByUserId"
		resultType="org.zerock.wego.domain.ranking.RankingVO">
		SELECT 
			*
		FROM
			review_king_ranking_v
		WHERE
			user_id = #{userId}
	</select>
	
</mapper>
